{% extends 'bootstrap/base.html' %}

{% block title %}
Restaurants
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
	  <table class="table">
          {% for data in cafes %}
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          {% endfor %}
  	  </table>

      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
